type tvoutserver, domain;
type tvoutserver_exec, exec_type, file_type;

init_daemon_domain(tvoutserver)

# Binder IPC
binder_use(tvoutserver)
binder_service(tvoutserver)

# /dev/graphics/fb0
allow tvoutserver graphics_device:chr_file r_file_perms;
allow tvoutserver graphics_device:dir r_dir_perms;

# /dev/video2
allow tvoutserver video_device:chr_file rw_file_perms;
