#
# init rc file for GPS: this is here to allow for devices
# to provide their own GPS initialization code without
# conflicting with the default GPS init. (i.e. Vibrant)
#

service gpsd /system/vendor/bin/gpsd -c /vendor/etc/gps.xml
    class late_start
    socket gps seqpacket 0660 gps system
    user gps
    group system inet

on post-fs-data
    # create data/gps for GPS demon
    mkdir /data/gps 700 gps system
    chown gps system /data/gps
    chown gps root /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 660 /sys/class/sec/gps/GPS_PWR_EN/value
