import init.wave.usb.rc


on early-init
    mount debugfs /sys/kernel/debug /sys/kernel/debug

    write /sys/block/mmcblk0/queue/scheduler noop

# Increase max readahead size to 256 KB
    write /sys/block/mmcblk0/queue/read_ahead_kb 256
    write /sys/block/mmcblk1/queue/read_ahead_kb 256

# Flash storage isn't a good entropy source, and only causes
# locking overhead in the kernel. Turn it off.
    write /sys/block/mmcblk0/queue/add_random 0
    write /sys/block/mmcblk1/queue/add_random 0

on init
    loglevel 9
	
	export LD_PRELOAD "/system/lib/libsamsung_symbols.so"

    # for backwards compatibility
    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard

on boot
# fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

# KSM
    write /sys/kernel/mm/ksm/pages_to_scan 256
    write /sys/kernel/mm/ksm/sleep_millisecs 4000

# memory parameters
    write /proc/sys/vm/dirty_ratio 16
    write /proc/sys/vm/dirty_background_ratio 12
    write /proc/sys/vm/dirty_expire_centisecs 500
    write /proc/sys/vm/dirty_writeback_centisecs 1000
    write /proc/sys/vm/page-cluster 0
    write /proc/sys/vm/swappiness 0
    write /proc/sys/vm/vfs_cache_pressure 85

# Set up kernel tracing, but disable it by default
    chmod 0222 /sys/kernel/debug/tracing/trace_marker
    write /sys/kernel/debug/tracing/tracing_on 0

# Prevents permission denied error for telephony
    chmod 0644 /proc/cmdline

on fs
    # LVM: set up LVM volumes
    exec /lvm/sbin/lvm vgscan --mknodes --ignorelockingfailure
    exec /lvm/sbin/lvm vgchange -aly --ignorelockingfailure
    restorecon /dev/mapper/lvpool-system
    restorecon /dev/mapper/lvpool-userdata

    mount yaffs2 mtd@cache /cache noatime nosuid nodev
    mount_all fstab.wave
    swapon_all fstab.wave

# Permissions for MTP device node
    chmod 0777 /dev/mtp_usb
    restorecon /dev/mtp_usb
    chmod 0777 /dev/usb_accessory
    restorecon /dev/usb_accessory

# permissions for bluetooth.
    chown bluetooth net_bt_stack /dev/s3c2410_serial0
    chmod 0600 /dev/s3c2410_serial0
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type
    restorecon /sys/class/rfkill/rfkill0/state
    restorecon /sys/class/rfkill/rfkill0/type

# Permissions for Battery Control

    chmod 0666 /sys/devices/platform/i2c-gpio.6/i2c-6/6-0066/max8998-charger/power_supply/battery/batt_soc
    chmod 0666 /sys/devices/platform/i2c-gpio.6/i2c-6/6-0066/max8998-charger/power_supply/battery/batt_volt
    chmod 0666 /sys/devices/platform/i2c-gpio.6/i2c-6/6-0066/max8998-charger/power_supply/battery/batt_temp_adc
    chmod 0666 /sys/devices/platform/i2c-gpio.6/i2c-6/6-0066/max8998-charger/power_supply/battery/batt_full_interrupt
    chmod 0666 /sys/devices/platform/i2c-gpio.6/i2c-6/6-0066/max8998-charger/power_supply/ac/online
    chmod 0666 /sys/devices/platform/i2c-gpio.6/i2c-6/6-0066/max8998-charger/power_supply/usb/online


# Permissions for System Server and daemons.
    chown system system /sys/class/backlight/s5p_bl/brightness

# change permission for uart_switch
    chown radio radio /sys/class/sec/uart_switch/UART_SEL/value
    chmod 660 /sys/class/sec/uart_switch/UART_SEL/value

# permission for tuning knobs
    chown system system /sys/class/misc/pwm_duty/pwm_duty
    chmod 660 /sys/class/misc/pwm_duty/pwm_duty
    restorecon /sys/class/misc/pwm_duty/pwm_duty

    chown system system /sys/class/mdnieset_ui/switch_mdnieset_ui/mdnieset_ui_file_cmd
    chmod 660 /sys/class/mdnieset_ui/switch_mdnieset_ui/mdnieset_ui_file_cmd
    restorecon /sys/class/mdnieset_ui/switch_mdnieset_ui/mdnieset_ui_file_cmd

    chown system system /sys/devices/virtual/misc/color_tuning/blue_multiplier
    chown system system /sys/devices/virtual/misc/color_tuning/blue_v1_offset
    chown system system /sys/devices/virtual/misc/color_tuning/green_multiplier
    chown system system /sys/devices/virtual/misc/color_tuning/green_v1_offset
    chown system system /sys/devices/virtual/misc/color_tuning/red_multiplier
    chown system system /sys/devices/virtual/misc/color_tuning/red_v1_offset
    chmod 660 /sys/devices/virtual/misc/color_tuning/blue_multiplier
    chmod 660 /sys/devices/virtual/misc/color_tuning/blue_v1_offset
    chmod 660 /sys/devices/virtual/misc/color_tuning/green_multiplier
    chmod 660 /sys/devices/virtual/misc/color_tuning/green_v1_offset
    chmod 660 /sys/devices/virtual/misc/color_tuning/red_multiplier
    chmod 660 /sys/devices/virtual/misc/color_tuning/red_v1_offset
    restorecon /sys/devices/virtual/misc/color_tuning/blue_multiplier
    restorecon /sys/devices/virtual/misc/color_tuning/blue_v1_offset
    restorecon /sys/devices/virtual/misc/color_tuning/green_multiplier
    restorecon /sys/devices/virtual/misc/color_tuning/green_v1_offset
    restorecon /sys/devices/virtual/misc/color_tuning/red_multiplier
    restorecon /sys/devices/virtual/misc/color_tuning/red_v1_offset

# Intentionally left world-writable for Voodoo Sound app
    restorecon /sys/devices/virtual/misc/voodoo_sound/adc_osr128
    restorecon /sys/devices/virtual/misc/voodoo_sound/dac_direct
    restorecon /sys/devices/virtual/misc/voodoo_sound/dac_osr128
    restorecon /sys/devices/virtual/misc/voodoo_sound/debug_log
    restorecon /sys/devices/virtual/misc/voodoo_sound/digital_gain
    restorecon /sys/devices/virtual/misc/voodoo_sound/fll_tuning
    restorecon /sys/devices/virtual/misc/voodoo_sound/fm_radio_headset_normalize_gain
    restorecon /sys/devices/virtual/misc/voodoo_sound/fm_radio_headset_restore_bass
    restorecon /sys/devices/virtual/misc/voodoo_sound/fm_radio_headset_restore_highs
    restorecon /sys/devices/virtual/misc/voodoo_sound/headphone_amplifier_level
    restorecon /sys/devices/virtual/misc/voodoo_sound/headphone_eq
    restorecon /sys/devices/virtual/misc/voodoo_sound/headphone_eq_b1_gain
    restorecon /sys/devices/virtual/misc/voodoo_sound/headphone_eq_b2_gain
    restorecon /sys/devices/virtual/misc/voodoo_sound/headphone_eq_b3_gain
    restorecon /sys/devices/virtual/misc/voodoo_sound/headphone_eq_b4_gain
    restorecon /sys/devices/virtual/misc/voodoo_sound/headphone_eq_b5_gain
    restorecon /sys/devices/virtual/misc/voodoo_sound/headphone_eq_bands_values
    restorecon /sys/devices/virtual/misc/voodoo_sound/mono_downmix
    restorecon /sys/devices/virtual/misc/voodoo_sound/recording_preset
    restorecon /sys/devices/virtual/misc/voodoo_sound/speaker_tuning
    restorecon /sys/devices/virtual/misc/voodoo_sound/stereo_expansion
    restorecon /sys/devices/virtual/misc/voodoo_sound/stereo_expansion_gain

on post-fs
    mkdir /data/media 0770 media_rw media_rw

# symlinks for samsung RIL
    mkdir /data/radio
    chown radio radio /data/radio
    chmod 0775 /data/radio
    restorecon_recursive /data/radio

	
# allow system to modify cpufreq control files
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq

on post-fs-data
	
    # wi-fi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp

    # download cache
    mkdir /data/download 0770 system cache

    # logs
    mkdir /data/log 0775 root root
    chmod 0775 /data/log

    setprop vold.post_fs_data_done 1

on property:dev.bootcomplete=1
    class_start late_start

###############################################################################
#-------------------- End Triggers / Actions ---------------------------------#
###############################################################################

#- Begin Core Services -#

# 3D init
service pvrsrvinit /system/bin/pvrsrvinit
    class core
    user root
    group root
    seclabel u:r:pvrsrvinit:s0
    oneshot

#- End core Services -#

#- Begin main Services -#

service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant.conf \
    -e/data/misc/wifi/entropy.bin \
    -g@android:wpa_wlan0
#   we will start as root and wpa_supplicant will switch to user wifi
#   after setting up the capabilities required for WEXT
#   user wifi
#   group wifi inet keystore
    class late_start
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -aABDKL
    class late_start
    disabled
    oneshot
	
service iprenew_wlan0 /system/bin/dhcpcd -n
    class late_start
    disabled
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class late_start
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class late_start
    disabled
    oneshot

service bdaddr /system/bin/bdaddr_read
    class main
    user root
    group system bluetooth
    disabled
    oneshot

on property:init.svc.bootanim=running
    start bdaddr

# LMK values
on property:sys.boot_completed=1
    write /sys/block/mmcblk0/queue/scheduler row
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 400000
    write /sys/module/lowmemorykiller/parameters/minfree 3072,5120,8192,10241,12288,14336

#- End main Services -#