import init.wave.usb.rc

on init
    loglevel 9
    export EXTERNAL_STORAGE /storage/sdcard0
    export SECONDARY_STORAGE /storage/sdcard1

    # FIXME: Market checks this variable for space-checking, but downloads to /datadata
    export DOWNLOAD_CACHE /data/download

    mkdir /mnt/media_rw/sdcard0 0700 media_rw media_rw
    mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw
    mkdir /storage/sdcard0 0700 root root
    mkdir /storage/sdcard1 0700 root root
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard0 /mnt/sdcard
    # FIXME: Remove emmc?

    # We will create our own ril-daemon service in class 'core' because the
    # rild doesn't like being killed. (During device encryption.)
    stop ril-daemon

on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug

# fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

# phone
    setprop ro.telephony.call_ring.multiple 0

# call volume steps
    setprop ro.config.vc_call_vol_steps 15

on fs
    mkdir /mnt/bada_system
    chmod 0777 /mnt/bada_system
    mount vfat /dev/block/mmcblk0p1 /mnt/bada_system noatime
    mkdir /mnt/bada_app
    chmod 0777 /mnt/bada_app
    mount vfat /dev/block/mmcblk0p3 /mnt/bada_app noatime
    mount ext4 loop@/mnt/bada_system/system.img /system noatime noauto_da_alloc discard journal_async_commit nodiratime data=writeback barrier=0 nobh nomblk_io_submit
    mount ext4 loop@/mnt/bada_system/cache.img /cache noatime noauto_da_alloc discard journal_async_commit nodiratime data=writeback barrier=0 nobh nomblk_io_submit
    mount ext4 loop@/mnt/bada_app/data.img /data noatime noauto_da_alloc discard journal_async_commit nodiratime data=writeback barrier=0 nobh nomblk_io_submit
    mount_all fstab.wave
    swapon_all fstab.wave

# permissions for bluetooth.
    chown bluetooth net_bt_stack /dev/s3c2410_serial0
    chmod 0600 /dev/s3c2410_serial0
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type
    restorecon /sys/class/rfkill/rfkill0/state
    restorecon /sys/class/rfkill/rfkill0/type

# Permissions for Battery Control

    chmod 0666 /sys/devices/platform/i2c-gpio.6/i2c-6/6-0066/max8998-charger/power_supply/battery/capacity
    chmod 0666 /sys/devices/platform/i2c-gpio.6/i2c-6/6-0066/max8998-charger/power_supply/battery/voltage_now
    chmod 0666 /sys/devices/platform/i2c-gpio.6/i2c-6/6-0066/max8998-charger/power_supply/battery/temp
    chmod 0666 /sys/devices/platform/i2c-gpio.6/i2c-6/6-0066/max8998-charger/power_supply/ac/online
    chmod 0666 /sys/devices/platform/i2c-gpio.6/i2c-6/6-0066/max8998-charger/power_supply/usb/online


# Permissions for System Server and daemons.
    chown system system /sys/class/backlight/s5p_bl/brightness

# change permission for uart_switch
    chown radio radio /sys/class/sec/uart_switch/UART_SEL/value
    chmod 660 /sys/class/sec/uart_switch/UART_SEL/value

# load wifi module
    insmod /system/lib/modules/bcmdhd.ko

# permission for tuning knobs
    chown system system /sys/class/misc/pwm_duty/pwm_duty
    chmod 660 /sys/class/misc/pwm_duty/pwm_duty
    restorecon /sys/class/misc/pwm_duty/pwm_duty

    chown system system /sys/class/mdnieset_ui/switch_mdnieset_ui/mdnieset_ui_file_cmd
    chmod 660 /sys/class/mdnieset_ui/switch_mdnieset_ui/mdnieset_ui_file_cmd
    restorecon /sys/class/mdnieset_ui/switch_mdnieset_ui/mdnieset_ui_file_cmd

    chown system system /sys/devices/virtual/misc/color_tuning/blue_multiplier
    chown system system /sys/devices/virtual/misc/color_tuning/blue_v1_offset
    chown system system /sys/devices/virtual/misc/color_tuning/green_multiplier
    chown system system /sys/devices/virtual/misc/color_tuning/green_v1_offset
    chown system system /sys/devices/virtual/misc/color_tuning/red_multiplier
    chown system system /sys/devices/virtual/misc/color_tuning/red_v1_offset
    chmod 660 /sys/devices/virtual/misc/color_tuning/blue_multiplier
    chmod 660 /sys/devices/virtual/misc/color_tuning/blue_v1_offset
    chmod 660 /sys/devices/virtual/misc/color_tuning/green_multiplier
    chmod 660 /sys/devices/virtual/misc/color_tuning/green_v1_offset
    chmod 660 /sys/devices/virtual/misc/color_tuning/red_multiplier
    chmod 660 /sys/devices/virtual/misc/color_tuning/red_v1_offset
    restorecon /sys/devices/virtual/misc/color_tuning/blue_multiplier
    restorecon /sys/devices/virtual/misc/color_tuning/blue_v1_offset
    restorecon /sys/devices/virtual/misc/color_tuning/green_multiplier
    restorecon /sys/devices/virtual/misc/color_tuning/green_v1_offset
    restorecon /sys/devices/virtual/misc/color_tuning/red_multiplier
    restorecon /sys/devices/virtual/misc/color_tuning/red_v1_offset

# Intentionally left world-writable for Voodoo Sound app
    restorecon /sys/devices/virtual/misc/voodoo_sound/adc_osr128
    restorecon /sys/devices/virtual/misc/voodoo_sound/dac_direct
    restorecon /sys/devices/virtual/misc/voodoo_sound/dac_osr128
    restorecon /sys/devices/virtual/misc/voodoo_sound/debug_log
    restorecon /sys/devices/virtual/misc/voodoo_sound/digital_gain
    restorecon /sys/devices/virtual/misc/voodoo_sound/fll_tuning
    restorecon /sys/devices/virtual/misc/voodoo_sound/fm_radio_headset_normalize_gain
    restorecon /sys/devices/virtual/misc/voodoo_sound/fm_radio_headset_restore_bass
    restorecon /sys/devices/virtual/misc/voodoo_sound/fm_radio_headset_restore_highs
    restorecon /sys/devices/virtual/misc/voodoo_sound/headphone_amplifier_level
    restorecon /sys/devices/virtual/misc/voodoo_sound/headphone_eq
    restorecon /sys/devices/virtual/misc/voodoo_sound/headphone_eq_b1_gain
    restorecon /sys/devices/virtual/misc/voodoo_sound/headphone_eq_b2_gain
    restorecon /sys/devices/virtual/misc/voodoo_sound/headphone_eq_b3_gain
    restorecon /sys/devices/virtual/misc/voodoo_sound/headphone_eq_b4_gain
    restorecon /sys/devices/virtual/misc/voodoo_sound/headphone_eq_b5_gain
    restorecon /sys/devices/virtual/misc/voodoo_sound/headphone_eq_bands_values
    restorecon /sys/devices/virtual/misc/voodoo_sound/mono_downmix
    restorecon /sys/devices/virtual/misc/voodoo_sound/recording_preset
    restorecon /sys/devices/virtual/misc/voodoo_sound/speaker_tuning
    restorecon /sys/devices/virtual/misc/voodoo_sound/stereo_expansion
    restorecon /sys/devices/virtual/misc/voodoo_sound/stereo_expansion_gain

on post-fs

# symlinks for samsung RIL
    mkdir /data/radio
    chown radio radio /data/radio
    chmod 0666 /data/radio
    exec /system/bin/restorecon -r /data/radio

	
# allow system to modify cpufreq control files
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq

# trigger governor change uevent
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive

# zRAM: only read one page at a time
    write /proc/sys/vm/page-cluster 0

on post-fs-data
	
    # wi-fi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp

    # download cache
    mkdir /data/download 0770 system cache

    # logs
    mkdir /data/log 0775 root root
    chmod 0775 /data/log

    setprop vold.post_fs_data_done 1

on property:dev.bootcomplete=1
    class_start late_start

###############################################################################
#-------------------- End Triggers / Actions ---------------------------------#
###############################################################################

#- Begin Core Services -#


 service wave-ril-daemon /system/bin/rild
    class core
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc audio log

# 3D init
service pvrsrvinit /system/vendor/bin/pvrsrvinit
    class core
    user root
    group root
    oneshot

#- End core Services -#

#- Begin main Services -#

service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf -e/data/misc/wifi/entropy.bin \
    -O/data/misc/wifi/sockets -g@android:wpa_wlan0
#   we will start as root and wpa_supplicant will switch to user wifi
#   after setting up the capabilities required for WEXT
#   user wifi
#   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -aABDKL
    class main
    disabled
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service bdaddr /system/bin/bdaddr_read
    class main
    user root
    disabled
    oneshot

on property:init.svc.bootanim=running
    start bdaddr

#- End main Services -#

#- Begin late_start Services-#

service orientationd /system/vendor/bin/orientationd
    class late_start
    user compass
    group system input
    disabled

service tvout /system/bin/tvoutserver
    class late_start
    user system
    group graphics

service tvouthack /system/bin/tvouthack
    user system
    group graphics
    disabled

# fusewrapped external sdcard daemon running as media_rw (1023)
service fuse_sdcard0 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard0 /storage/sdcard0
    class late_start
    disabled

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled
